body{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Profile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    background-size: cover; */
   
    background-color: rgb(62, 61, 61);
   

}

nav{
    background-color: red;
}

header p{
    margin-top: 2rem;
    font-size: xx-large;
    text-align: center;
    color: rgb(0, 0, 0);
}

/* .tabel-user{
    background-color: white;
    width: 40%;
    margin: auto;
} */

.table-motor{
    border-radius: 30px;
    background-color: rgb(99, 99, 99);
    width: 90%;
    margin: auto;
}

.table-user{
    background-color: white;
    width: 60%;
    margin: auto;
}


.table-merk{
    background-color: white;
    width: 30%;
    margin: auto;
}

.table tr td, .table tr th{
    
    color: black;   
}


p{
    color: rgb(0, 0, 0)    ;
}

/* fieldset{
    width: 30%;
    margin: auto;
    border-radius: 30px;
    /* background-image: linear-gradient(rgba(255, 255, 255, 0.354), rgba(255, 255, 255, 0.354)); */
    
label{
    color: black;
    padding-bottom: 2px;
    padding-top: 1rem;
    
}

.btn-dark{
    margin-top: 1rem;
}

.card-user{
    
    margin: auto;
    width: 70%;
     background: linear-gradient(rgba(0, 0, 0, 0.354), rgba(0, 0, 0, 0.354));
}

.card-motor{
    
    margin: auto;
    width: 70%;
     background: linear-gradient(rgba(0, 0, 0, 0.354), rgba(0, 0, 0, 0.354));
}

.card-merk{
    
    margin: auto;
    width: 40%;
     background: linear-gradient(rgba(0, 0, 0, 0.354), rgba(0, 0, 0, 0.354));
}

.card-merk-edit{
    
    margin: auto;
    width: 40%;
     background: linear-gradient(rgba(0, 0, 0, 0.354), rgba(0, 0, 0, 0.354));
}

.card-user-edit{
    
    margin: auto;
    width: 70%;
     background: linear-gradient(rgba(0, 0, 0, 0.354), rgba(0, 0, 0, 0.354));
}

.card-motor-edit{
    
    margin: auto;
    width: 70%;
     background: linear-gradient(rgba(0, 0, 0, 0.354), rgba(0, 0, 0, 0.354));
}

